table {
	border: 3px solid #6495ed;
	margin: auto;
	width: 60%;
}

th{
	border: 1px solid blue;
	font-family: arial;
	padding: 70px;
	color: blue;
	background: #BADBF0;
	font-size: 2em;
	height: 80px;
}

td{
	border: 1px solid #000099;
	padding: 5px;
	text-align: center;
	width: 45%;
	height: 80px;
} 

.usa{
	    background-image: url("america.jpg");
	    background-size: 100%;
	    width: 25%;
	    height: 100px;
	    background-repeat: no-repeat;
	    background-position: center ;
}
.france{
		background-image:url("france.jpg");
	 	background-size: 100%;
	    width: 25%;
	   	height: 100px;
	   	background-repeat: no-repeat;
	   	background-position: center;

}